h2{
    font-size: 30px;
    color: #fff;
    margin:  4rem 7rem 2rem;
}


.ButtonDireitaSecaoTree{
    position: absolute;
    right: 30px; /* Posiciona o botão 10px da borda direita */
    top: 240%; /* Centraliza o botão verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
    width: 60px;
    height: 60px;
  }
  
  .ButtonEsquerdaSecaoTree{
    position: absolute;
    left: 30px; /* Posiciona o botão 10px da borda esquerda */
    top: 240%; /* Centraliza o botão verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
    width: 60px;
    height: 60px;
  }

  .Xr{
    background-image: url(../img/IphoneXr.jpg);
  }

  .EigthpLUS{
    background-image: url(../img/Iphone8Plus.jpg);
  }

  .Eleven{
    background-image: url(../img/Iphone11.jpg);
  }

  .ElevenPro{
    background-image: url(../img/Iphone11ProMax.jpg);
  }
  .Twelve{
    background-image: url(../img/Iphone12.jpg);
  }
  .TwelvePro{
    background-image: url(../img/Iphone12ProMax.jpg);
  }
  .Thirteenmini{
    background-image: url(../img/Iphone13mini.jpg);
  }
  .ThirteenPro{
    background-image: url(../img/Iphone13Promax.jpg);
  }

  .Xr,
  .EigthpLUS,
  .Eleven,
  .ElevenPro,
  .Twelve,
  .TwelvePro,
  .Thirteen,
  .ThirteenPro,
  .Thirteenmini,
  .ThirteenPro{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease-in-out;
    background-size: 200%;
  }

  .Xr:hover,
  .EigthpLUS:hover,
  .Eleven:hover,
  .ElevenPro:hover,
  .Twelve:hover,
  .TwelvePro:hover,
  .Thirteen:hover,
  .ThirteenPro:hover,
  .Thirteenmini:hover,
  .ThirteenPro:hover{
    background-size: 250%;
    cursor: pointer;
  }

  @media  (max-width: 1488px){
    .ButtonDireitaSecaoTree{
      top: 260%;
    }

    .ButtonEsquerdaSecaoTree{
      top: 260%;
    }
  }
  @media  (max-width: 900px){
    .ButtonDireitaSecaoTree{
      top: 350%;
    }

    .ButtonEsquerdaSecaoTree{
      top: 350%;
    }
  }
  @media  (max-width: 700px){
    .ButtonDireitaSecaoTree{
      top: 340%;
    }

    .ButtonEsquerdaSecaoTree{
      top: 340%;
    }
  }
  @media  (max-width: 600px){
    .ButtonDireitaSecaoTree{
      top: 330%;
    }

    .ButtonEsquerdaSecaoTree{
      top: 330%;
    }
  }

  @media  (max-width: 520px){
    .ButtonDireitaSecaoTree{
      position: absolute;
      right: 30px; /* Posiciona o botão 10px da borda direita */
      top: 330%; /* Centraliza o botão verticalmente */
      transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
      width: 60px;
      height: 60px;
      display: block;
    }

    .ButtonEsquerdaSecaoTree{
      position: absolute;
      left: 30px; /* Posiciona o botão 10px da borda esquerda */
      top: 330%; /* Centraliza o botão verticalmente */
      transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
      width: 60px;
      height: 60px;
      display: block;
    }

    .Nov h2{
      display: flex;
      text-align: center;
      align-items: start;
      justify-content: center;
      margin: 2rem;
      flex-wrap: wrap;
  }
}

@media  (max-width: 320px){
  .ButtonEsquerdaSecaoTree{
    top: 320%;
    width: 35px;
    height: 35px;
  }

  .ButtonDireitaSecaoTree{
    top: 320%;
    width: 35px;
    height: 35px;
  }
}
  