.Secao {
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
  }
  .Secao::-webkit-scrollbar{ 
    display: none; }


.Cards { display: flex; 
    flex-direction: row; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
    -webkit-overflow-scrolling: touch; 
    -ms-overflow-style: none; 
    scrollbar-width: none; }

  .imgcard{
    width: 456px;
    height: 564px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 1.5rem 2rem;
  }

  .one:hover,
  .two:hover,
  .tree:hover,
  .four:hover,
  .five:hover,
  .six:hover,
  .seven:hover,
  .eigth:hover,
  .nine:hover,
  .ten:hover{
    background-size: 250%;
    cursor: pointer;
  }

  .one,
  .two,
  .tree,
  .four,
  .five,
  .six,
  .seven,
  .eigth,
  .nine,
  .ten{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease-in-out;
    background-size: 200%;
  }

  .one{
    background-image: url(../img/Applewatch01.jpg);
  }
  .two{
    background-image: url(../img/Iphone15Titan.jpg);
  }
  .tree{
    background-image: url(../img/VisionPro.jpg);
  }
  .four{
    background-image: url(../img/MacbookPro.jpg);
  }
  .five{
    background-image: url(../img/IpaddPro11.jpg);
  }
  .six{
    background-image: url(../img/AppleTv.jpg);
  }
  .seven{
    background-image: url(../img/AppleWatch9.jpg);
  }
  .eigth{
    background-image: url(../img/Macbook.jpg);
  }
  .nine{
    background-image: url(../img/Iphone15mini.jpg);
  }
  .ten{
    background-image: url(../img/Imac.jpg);
  }

  .imgcard h4{
    color: #4d4d4d;
    font-size: 20px;
  }

  .imgcard p{
    font-size: 40px;
    color: #161616;
  }

.Card { 
    flex: 0 0 auto; 
    width: auto; 
    padding: 10px; }



.ButtonDireita{
    position: absolute;
    right: 30px; /* Posiciona o botão 10px da borda direita */
    top: 50%; /* Centraliza o botão verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
    width: 60px;
    height: 60px;
  }
  
  .ButtonEsquerda{
    position: absolute;
    left: 30px; /* Posiciona o botão 10px da borda esquerda */
    top: 50%; /* Centraliza o botão verticalmente */
    transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
    width: 60px;
    height: 60px;
  }

  .Popup {
    position: fixed; /* Fixa o popup no viewport */
    top: 50%; /* Posiciona o popup no centro verticalmente */
    left: 50%; /* Posiciona o popup no centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar o popup */
    width: 400px; /* Define a largura do popup */
    height: 200px; /* Define a altura do popup */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    z-index: 1000;
    background-color: rgb(48, 47, 47); /* Define a cor de fundo do popup */
    border-radius: 5%; /* Arredonda os cantos do popup */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Adiciona uma sombra ao popup */;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonPopup{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: .5s ease-in-out;
  }

  .buttonPopup:hover{
    background-color: rgb(255, 177, 177);
    transition: .5s ease-in-out;
  }

  .Popup img{
    width: 15%;
  }

  .Popup h4{
    color: #ffffff;
    font-size: 25px;
  }

  @media  (max-width: 900px){
    .Card{
      width: auto;
    }
  }

  @media  (max-width: 520px){
    .Card{
      width: 100%;
    }

    .ButtonDireita{
      position: absolute;
      right: 30px; /* Posiciona o botão 10px da borda direita */
      top: 50%; /* Centraliza o botão verticalmente */
      transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
      width: 60px;
      height: 60px;
      display: block;
    }
    
    .ButtonEsquerda{
      position: absolute;
      left: 30px; /* Posiciona o botão 10px da borda esquerda */
      top: 50%; /* Centraliza o botão verticalmente */
      transform: translateY(-50%); /* Ajusta a posição vertical para centralizar o botão */
      width: 60px;
      height: 60px;
      display: block;
    }
  
    .Popup{
      height: 300px;
    }

    .buttonPopup{
      display: block;
    }
  }
  
  @media  (max-width: 320px){
    .ButtonEsquerda{
      top: 55%;
      width: 35px;
      height: 35px;
    }
  
    .ButtonDireita{
      top: 55%;
      width: 35px;
      height: 35px;
    }
  }